*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: black;
}
header{
    background-color: #D3DFF5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 100px;
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 10px gray;
    z-index: 10;
}
header > nav{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav a{
    text-decoration: none;
    margin: 0px 10px;
    color: black;
    transition: 0.1s;
}
nav a:hover{
    border-bottom: 3px solid #222853;
    color: #222853;
}
header > a{
    text-decoration: none;
    background-color: #222853;
    color: whitesmoke;
    padding: 13px;
    border-radius: 5px;
    transition: 0.3s;
}
header > a:hover{
    padding: 17px;
    margin-right: 10px;
}


#pres{
    position: relative;
    height: 850px;
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-left: 3%;
    padding-right: 52%;
    align-items: baseline;
    gap: 20px;
    background-image: url(assets/image/image2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
}
#pres > h3{
    font-weight: 800;
    color: whitesmoke;
    font-size: 35px;
}
#pres > div > a{
    padding: 10px;
    text-decoration: none;
    margin-right: 15px;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: 400;
}
#service{
    background-color: #222853;
    color: whitesmoke;
}
#projet{
    background-color: #D3DFF5;
    color: #222853;
}
#service:hover, #projet:hover{
    padding: 15px;

}
#pres > div >i{
    font-size: 30px;
    margin-right: 7px;
    color: #D3DFF5;
    transition: 0.3s;

}
#pres > div >i:hover{
    color: #222853;
    font-size: 35px;
}

img{
    width: 100px;
}
#apropos{
    background-color: #D3DFF5;
    height: 850px;
    width: 100%; 
}
.nous{
    display: flex;
    padding: 0% 5%;
    height: 550px;
}
.nous-desc{
    background-color: #222853;
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    padding: 5%;
}
.nous > img{
    position: relative;
    width: 50%;
    object-fit: cover;
    object-position: center;
}
.nous-desc h3{
    color: #D3DFF5;
    font-weight: 800px;
    font-size: 25px;
    margin: 10px 0px;
}
#apropos > h2{
    color: #222853;
    padding: 0% 5%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 10px;
}
.nous-desc > div > p > span{
    color:#D3DFF5;
}
.part #part-img{
    background-color: #a6b6fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#part-img > div > img{
    height: 100px;
    width: auto;
}
.part > h3{
    color: #222853;
    padding: 0% 5%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 10px;
}
#service{
    background-color: #a6b6fc;
    height: 850px;
}